<form>
  <label for="postTitle">Title</label>
  <br>
  <input id="postTitle" type="text">
  <br>
  <br>
  <label for="postContent">Content</label>
  <br>
  <textarea id="postContent"></textarea>
  <br>
  <br>
  <button type="button">Update Post</button>
  <button type="button">Delete Post</button>
</form>