<div class="container is-fluid mt-6">
  <div class="columns is-centered">
    <div class="column is-half-desktop">
      <div class="field">
        <label class="label" for="loginUser">Username</label>
        <div class="control">
          <input class="input" id="loginUser" type="text">
        </div>
      </div>

      <div class="field">
        <label class="label" for="loginPass">Password</label>
        <div class="control">
          <input class="input" id="loginPass" type="password">
        </div>
        <div class="control">
          <button class="button is-link mt-2" id="loginBtn" type="button"><i class="fa-solid fa-circle-check fa-lg mr-2 has-text-warning"></i>Log in!</button>
        </div>
      </div>

      <p>Don't have an account yet?</p>
      <a href="/signup">Sign up!</a>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>