<form>
  <label for="loginUser">Username</label><br>
  <input type="text" id="loginUser"><br><br>
  <label for="loginPass">Password</label><br>
  <input type="password" id="loginPass"><br><br>
  <button id="loginBtn" type="button">Login!</button>
</form>
<p>Don't have an account yet?</p>
<a href="/signup">Sign up!</a>