{{#with post}}
{{> post-details}}
{{/with}}
<div class="columns m-4">
  <div class="column is-half field comment-form">
    <label class="label" for="commentInput">Leave a comment:</label>
    <div class="control">
      <textarea class="textarea is-large" id="commentInput"></textarea>
    </div>

    <div class="control">
      <button class="button is-light mt-2" id="commentSubmitBtn" type="button">Submit</button>
    </div>
  </div>
</div>

{{#if comments.length}}
<div class="columns m-4">
  <div class="box column is-narrow has-background-light">
    <h3 class="title is-4">Comments</h3>
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </div>
</div>
{{/if}}

<script src="/js/post.js"></script>