{{#with post}}
{{> post-details}}
{{/with}}
<form class="comment-form">
  <label for="commentInput">Leave a comment:</label>
  <textarea id="commentInput"></textarea>

  <button id="commentSubmitBtn" type="button">Submit</button>
</form>

{{#if comments.length}}
<h3>Comments</h3>
{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}
{{/if}}

<script src="/js/post.js"></script>