<form>
  <label for="username">Username</label><br>
  <input type="text" name="username" id="username"><br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" id="password">
  <button id="loginBtn" type="button">Sign Up!</button>
</form>
<p>Already have an account?</p>
<a href="/login">Login!</a>