<form>
  <label for="signupUser">Username</label>
  <input type="text" id="signupUser">

  <label for="signupPass">Password</label>
  <input type="password" id="signupPass">
  
  <button id="signupBtn" type="button">Sign Up!</button>
</form>

<p>Already have an account?</p>
<a href="/login">Log in!</a>

<script src="/js/signup.js"></script>