<form>
  <label for="signupUser">Username</label><br>
  <input type="text" id="signupUser"><br><br>
  <label for="signupPass">Password</label><br>
  <input type="password" id="signupPass"><br><br>
  <button id="signupBtn" type="button">Sign Up!</button>
</form>
<p>Already have an account?</p>
<a href="/login">Login!</a>

<script src="/js/signup.js"></script>