nav {
  margin-bottom: 20px;
}

#logout {
  display: inline;
  text-decoration: underline;
}

#logout:hover {
  cursor: pointer;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.post-title {
  text-decoration: none;
}

ul {
  list-style-type: none;
}